<%include partials/header %>
<h1>Create a New Entry </h1>

<form action="beaches" method="POST">
    <input type="text" name="name" placholder="name">
    <input type="text" name="image" placholder="image url">
    <button>Submit!</button>
</form>

<%include partials/footer %>