<%include partials/header %>


 <header class="jumbotron">
   <h1> This is the beaches page!</h1>
   <p>Hand-picked sandy shores from all around the world</p>
   <div>
     <a class="btn btn-primary btn-lg" href="/beaches/new">Add New</a>
   </div>
 </header>

<div class="row text-center" style="display:flex; flex-wrap:wrap">
  <% theBeaches.forEach((theBeach)=> { %>
    <div class="col-md-3 col-sm-6">    
      <div class="thumbnail">
          <img src="<%= theBeach.image %>"/>
          <div>
              <%= theBeach.name %>
          </div>
      </div>
    </div>
  <% }) %>
</div> 


<%include partials/footer %>