<h1>Sign Up Form</h1>

<form method="POST">
   <input type="text" name="username" placeholder="Username">
   <input type="passwprd" name="password" placeholder="Password">
   <button>Submit</button>
</form>   