<% include partials/header %>


<h2>this is the homepage</h2>

<img src="https://images.unsplash.com/photo-1539544536714-7d6ac083adc2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d79f697e7bf161800af173d50761557f&auto=format&fit=crop&w=1050&q=80">

<% include partials/footer %>