 .thumbnail {
  padding: 0%;
} 

.thumbnail img {
    width: 100%;
} 

.thumbnail .caption-full {
    padding: 12px;
}

#delete-form {
    display: inline;
}

body {
    margin: 0 20px;
}

header {
    padding: 3%;
}