body {
    background-color: #2b3c53;
}

h1, h2, span {
    color: aliceblue;
    text-align: center;
}
.square {
    width: 29%;
    margin: 1.66%;
    padding-bottom: 30%;
    background-color: bisque;
    float: left;
    border: 2px solid slategray;
    border-radius: 2em; 
}

#playfield {
    max-width: 55%;
    margin: auto;
}