body {
    background-color: #2b3c53;
}

h1, h2 {
    color: aliceblue;
    text-align: center;
}
.square {
    width: 29%;
    margin: 1.66%;
    padding-bottom: 30%;
    background-color: bisque;
    float: left;
    border: 2px solid slategray;
    border-radius: 1.5em; 
}

#heading {
    margin: auto -50px auto -50px;
    padding: 5px 0 15px;
    border: 2px solid slategray;
}

#stripe {
    background-color: whitesmoke;
    text-align: center;
    margin: auto -50px auto -50px;
    border-bottom: 2px solid slategray;
}

#playfield {
    max-width: 55%;
    margin: auto;
}